@page
@model IndexModel
@{
    ViewData["Title"] = "Listagem";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<hr/>
<div class="container">
	<div class="row">
		<div class="col-10">
			<h1 style="margin-top: 20px;">Gráfico de Eventos</h1>
		</div>				
	</div>
    <div class="row">
        <div class="col-12">
            <canvas id="myChart" width="100%" height="100%"></canvas>
        </div>
    </div>
</div>

<script>

const interval = setInterval(function() {
                    read();
                }, 5000); // deveria usar socket, mas não vou        

window.onload = () => {
    read();
}

function read() {
    axios.get('https://localhost:5001/api/EventoItems')
        .then((response) => {
        montaGrafico(response.data);
    })
    .catch((error) => {
        console.log(error);
    });
}

function montaGrafico(fila){
    var lista = new Array();
    var repeticoes = new Array();
    var ctx = document.getElementById('myChart').getContext('2d');

    fila.forEach((element) => {
        if(Number.isInteger(parseInt(element.valor, 10)) && 
        lista.find(e => e == element.tag.split('.')[0] + '.' +  element.tag.split('.')[1]) == undefined)
        {
            lista.push(element.tag.split('.')[0] + '.' +  element.tag.split('.')[1]);
        }
    })
    lista.forEach(element =>{
        var result = fila.filter(e => { 
            return Number.isInteger(parseInt(e.valor, 10)) &&
            e.tag.split('.')[0] + '.' +  e.tag.split('.')[1]
            == 
            element
        });

        repeticoes.push(result.length);
    })

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: lista,
            datasets: [{
                label: 'Eventos',
                data: repeticoes,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
}
</script>
<hr/>