﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Listagem";
}
<hr/>
<div class="container">
	<div class="row">
		<div class="col-5">
			<h1 style="margin-top: 20px;">Lista de Eventos</h1><br> 
			<h2>Escolha um tipo de listagem:</h2><br>
		</div>				
	</div>
	<h4>
		<a href="ListaCompleta">Lista Completa</a>
		<br>
		<a href="ListaAgrupadaTabelada">Lista Agrupada por região (Tabelada)</a>
		<br>
		<a href="ListaAgrupada">Lista Agrupada por região (Listagem)</a>
		<br>
		<a href="Graficos">Gráficos</a>
	</h4>
</div>
<hr/>