@page
@model IndexModel
@{
    ViewData["Title"] = "Listagem";
}
<hr/>
<div class="container">
	<div class="row">
		<div class="col-10">
			<h1 style="margin-top: 20px;">Lista de Eventos - Agrupada</h1>
		</div>				
	</div>
    <div class="row">
        <div class="col-12" id="lista">
        </div>
    </div>
</div>
<hr/>

<script>
    var fila = new Array();

    const interval = setInterval(function() {
            read();
        }, 5000); // deveria usar socket, mas não vou        

    window.onload = () => {
        const lista = document.querySelector('#lista');
        read();
    }

    function templateLi(tag, valor) {
        
        return `
            <li class="list-group-item">
                <td>${tag}</td>
                <td>${valor}</td>
            </li>
		`;
    }

function read() {
    axios.get('https://localhost:5001/api/EventoItems')
        .then((response) => {
        lista.innerHTML = '';
        montaGrafico(response.data);
    })
    .catch((error) => {
        console.log(error);
    });
}

function montaGrafico(fila){
    var list = new Array();
    var repeticoes = new Array();

    fila.forEach((element) => {
        if(Number.isInteger(parseInt(element.valor, 10)) && 
        list.find(e => e == element.tag.split('.')[0] + '.' +  element.tag.split('.')[1]) == undefined)
        {
            list.push(element.tag.split('.')[0] + '.' +  element.tag.split('.')[1]);
        }
    })

    var texto = '<ul>';
    list.forEach(element =>{
        var result = fila.filter(e => { 
            return Number.isInteger(parseInt(e.valor, 10)) && e.tag.split('.')[0] + '.' +  e.tag.split('.')[1] == 
            element
        });

        var total = 0;
        result.forEach(e => {
            if(Number.isInteger(parseInt(e.valor,10))){
                total += parseInt(e.valor,10);
            }
        });

        texto += `<br/><li>${element}<br/>Valor total: ${total}<br/>Quantidade de eventos ${result.length}</li>`; 
        texto += '<ul>';
        
        var impressos = new Array();
        result.forEach(e => {
            if(impressos.find(r => r.tag == e.tag) == undefined){
                impressos.push(e);
            }
        }); 

        impressos.forEach(e =>{
            var temp = fila.filter(r => r.tag == e.tag && Number.isInteger(parseInt(r.valor,10)));
            texto += `<li>${e.tag}: ${temp.length}</li>`; 
        })

        texto += '</ul>';
    });
    texto += '</ul>';
    lista.innerHTML += texto;
}
</script>