﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Listagem";
}
<hr/>
<div class="container">
	<div class="row">
		<div class="col-10">
			<h1 style="margin-top: 20px;">Lista de Eventos - Completa</h1>
		</div>				
	</div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>TimeStamp</th>
                        <th>Date Time</th>
                        <th>Tag</th>
                        <th>Status</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody id="lista">
                
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr/>

<script>
    var fila = new Array();

    const interval = setInterval(function() {
            read();
        }, 5000); // deveria usar socket, mas não vou        

    window.onload = () => {
        const lista = document.querySelector('#lista');
        read();
    }

    function templateLi(id, timeStamp, tag, valor, status) {
        var date = new Date(timeStamp * 1000);
        var hours = date.getHours() >= 10 ? date.getHours() : '0' + date.getHours();
        var minutes = date.getMinutes() >= 10 ? date.getMinutes() : "0" + date.getMinutes();
        var seconds = date.getSeconds() >= 10 ? date.getSeconds() : "0" + date.getSeconds();
        var day = date.getDay() >= 10 ? date.getDay() : '0' + date.getDay();
        var month = date.getMonth() >= 10 ? date.getMonth() : '0' + date.getMonth();
        var year = date.getFullYear();
        var formattedTime = day + '/' + month + '/' + year + ' ' + hours + ':' + minutes.toString().substr(-2) + ':' + seconds.toString().substr(-2);
        
        return `
            <tr>
                <td>${id}</td>
                <td>${timeStamp}</td>
                <td>${formattedTime}</td>
                <td>${tag}</td>
                <td>${status}</td>
                <td>${valor}</td>
            </tr>
		`;
    }

    function read() {

        axios.get('https://localhost:5001/api/EventoItems')
            .then((response) => {
                response.data.forEach(element => {
                    if(fila.find(e => e.tag == element.tag && e.timeStamp == element.timeStamp && e.valor == element.valor) == undefined){
                        lista.innerHTML += templateLi(element.id, element.timeStamp, element.tag, element.valor, element.status);
                        fila.push(element);
                    }
                });
            })
            .catch((error) => {
                console.log(error);
            });
    }
</script>