﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Listagem";
}
<hr/>
<div class="container">
	<div class="row" style="margin-top: 20px;">
		<div class="col-8">
			<h1>Lista de Eventos - Agrupados por região&nbsp;<i class="fa fa-refresh" aria-hidden="true" onclick="read()"></i></h1>
		</div>
	</div>
    <div class="row">
        <div class="col-12" id="lista">
            
        </div>
    </div>
</div>
<hr/>

<script>
    window.onload = () => {
        const lista = document.querySelector('#lista');
        read();
    }

    function templateLi(id, timeStamp, tag, valor, status) {
        var date = new Date(timeStamp * 1000);
        var hours = date.getHours() >= 10 ? date.getHours() : '0' + date.getHours();
        var minutes = date.getMinutes() >= 10 ? date.getMinutes() : "0" + date.getMinutes();
        var seconds = date.getSeconds() >= 10 ? date.getSeconds() : "0" + date.getSeconds();
        var day = date.getDay() >= 10 ? date.getDay() : '0' + date.getDay();
        var month = date.getMonth() >= 10 ? date.getMonth() : '0' + date.getMonth();
        var year = date.getFullYear();
        var formattedTime = day + '/' + month + '/' + year + ' ' + hours + ':' + minutes.toString().substr(-2) + ':' + seconds.toString().substr(-2);
        
        return `
            <tr>
                <td>${id}</td>
                <td>${timeStamp}</td>
                <td>${formattedTime}</td>
                <td>${tag}</td>
                <td>${status}</td>
                <td>${valor}</td>
            </tr>
		`;
    }

    function read() {
        lista.innerHTML = '';
        var fila = new Array();
        axios.get('https://localhost:5001/api/EventoItems')
            .then((response) => {
                montaTexto(response.data);
            })
            .catch((error) => {
                console.log(error);
            });
    }

    function montaTexto(response){
        response.sort((a, b) =>
        { 
            return a.tag < b.tag ? -1 : 1;
        });
        while(response.length > 0){
            var tagUltima = response[0].tag.split('.')[0] + response[0].tag.split('.')[1];
            
            var teste = response.filter(element => element.tag.split('.')[0] + element.tag.split('.')[1] == tagUltima);

            var texto = `<br /><br />
                                <h3><strong>Tag: ${response[0].tag.split('.')[0] + ' - '+ response[0].tag.split('.')[1]}: ${teste.length} eventos</strong></h3>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>TimeStamp</th>
                                            <th>Date Time</th>
                                            <th>Tag</th>
                                            <th>Status</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>`;
            var soma = 0;
            teste.forEach(function(element){
                texto+=templateLi(element.id, element.timeStamp, element.tag, element.valor, element.status);
                
                if(Number.isInteger(parseInt(element.valor, 10))){
                    soma+=parseInt(element.valor, 10);
                }
            })

            texto += `          </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5">Valor Total</td>
                                        <td>${soma}</td>
                                    </tr>
                                </tfoot>
                            </table>`;
            
            lista.innerHTML += texto;
			response = response.filter(element => element.tag.split('.')[0] + element.tag.split('.')[1] != tagUltima);
        }
	}

</script>